<!-- <p>search-bar works!</p>
<input name="search" [(ngModel)]="url">
<button (click)="onClick()">send</button> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- ============= -->

<div class="container">
  <div class="box">
    <div class="search-bar">
      <form>
        <input type="text" placeholder="Search" name="search" [(ngModel)]="url">
        <button class="btn" (click)="onClick()"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</div>