<app-search-bar  (urlChange)="getData($event)"></app-search-bar>
<!-- <button (click)="addToBookmarks()">add me to Bookmarks</button> -->
<button (click)="addToBookmarks()" type="button" class="pp-bookmark-btn btn btn-default btn-lg pull-right" data-context="investor" data-context-action="view" data-context-id="7"> Add to Bookmarks
</button>
<div id="wrapper">
<div ><app-history id="first"[url]="newUrl" (historyChange)="getData($event)"></app-history></div>
<div id="second"><app-viewer [url]="newUrl" > </app-viewer></div>
<div id="third"><app-bookmarks [bookmarkurl]="bookmarkurl"></app-bookmarks></div>
</div>


